/* Reseteo basico para evitar problemas de margenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo oscuro para el body, estilo minimalista */
body {
  background-color: rgba(56, 57, 58, 1);
}

/* Header con fondo semitransparente y texto centrado */
header {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 100%;
}

/* Boton para volver, con estilo simple y hover */
.btn-volver {
  background-color: rgb(89, 156, 198);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 1rem;
  font-size: 1.1rem;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;;
}

.store-navegation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Cambia el color del boton al pasar el mouse */
.btn-volver:hover {
  background-color: rgb(94, 120, 138);
}

.compra-detalle {
  background-color: rgba(2, 2, 2, 0.26);
  color: #fff;
  margin: 2rem;
  border: none;
  border-radius: 5px;
  display: flex;
  max-width: max-content;
  gap: 1vw;
  justify-self:center;
  
}

.producto-detalles {
  display: box;
  background-color: rgba(2, 2, 2, 0.26);
  border: none;
  border-radius: 5px;
  width: 30vw;
  margin: 1rem;
  padding: 1rem;
}

.finalizar-compra {
  background-color: rgba(2, 2, 2, 0.26);
  border: none;
  border-radius: 5px;
  width: 25vw;
  margin: 1rem;
  padding: 1rem;
}

.product-img {
  width: 100%;
  max-height: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(184, 169, 169, 0.2);
  margin-bottom: 1rem;
}

.mas-detalles {
  background-color: rgba(100, 83, 103, 0.173);
  padding: 1rem 1rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 2px 5px #000000;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.lista-precio {
  margin: 0.5rem 1rem;
}

.otros-detalles {
  margin-top: 0.6rem;
}

.testeo {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
}